[mysql]
prompt='[\c][\C][\U][\d]> '
default-character-set=utf8mb4
no-auto-rehash

[mysqld]
skip-name-resolve
default_storage_engine=InnoDB
disabled_storage_engines=MEMORY,BLACKHOLE,MyISAM,CSV,ARCHIVE,FEDERATED
log_timestamps=SYSTEM
gtid_mode=ON
enforce_gtid_consistency=ON
socket=/opt/bitnami/mysql/tmp/mysql.sock
datadir=/bitnami/mysql/data
tmpdir=/opt/bitnami/mysql/tmp
bind-address=*
pid_file=/opt/bitnami/mysql/tmp/mysqld.pid
log_error=/opt/bitnami/mysql/logs/mysqld.log
port=3306
character_set_server=utf8mb4
collation_server=utf8mb4_general_ci
init_connect='SET NAMES utf8mb4'
default_time_zone="+8:00"
connect_timeout=30
lower_case_table_names=1
slow_query_log=0
long_query_time=3.0
slow_query_log_file=/opt/bitnami/mysql/logs/slow_query.log
max_connections=10000
max_connect_errors=1000
max_allowed_packet=32M
